
/*czcionka*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}
p, div {
    font-family: 'Lato', sans-serif;
}

a:link { color : #FFF; text-decoration : none;}
a:visited {color : #FFF; text-decoration : none;}
a:hover {color : #FFF; text-decoration : none;}

body {
    background-color: #464646;
    color: #ffffff;
}

html,body,.front
{
    height:100%;
}

/*wrzucenie wszystkiego w tabele, podzielenie jej na 2 czesci*/
.front
{
    display:table;
    width: 100%;
    padding: 0; /*set left/right padding according to needs*/
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.row_front
{
    height: 100%;
    display: table-row;
}
.row_front .no-float {
    display: table-cell;
    float: none;
    vertical-align: middle;
}

.lewy_c {
    background: #d72c32;
    -webkit-box-shadow: 8px 0px 25px -4px rgba(0,0,0,0.6);
    -moz-box-shadow: 8px 0px 25px -4px rgba(0,0,0,0.6);
    box-shadow: 8px 0px 25px -4px rgba(0,0,0,0.6);
}

.lewy_z {
    background: #00a651;
    -webkit-box-shadow: 8px 0px 25px -4px rgba(0,0,0,0.6);
    -moz-box-shadow: 8px 0px 25px -4px rgba(0,0,0,0.6);
    box-shadow: 8px 0px 25px -4px rgba(0,0,0,0.6);
}

/*bez tego cien nie bedzie nachodzil*/
.prawy {
    position: relative;
}


.dostepnosc {
    text-align: center;
    font-weight: 900;
}
.nazwa_sali {
    font-size: 100px;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 5%;
    font-weight: bold;
}
.logo_l {
    margin-left: 0px;
    padding: 20px;
    /*background-color: #FFF;*/
    text-align: center;
}

.no_margin {
    margin: 0;
    padding: 0;
}

.now_h {
    font-size: 40px;
    margin-bottom: 0px;
    }.now_time {
        font-size: 90px;
        font-weight: bold;
    }
    .now_cut {
        font-size: 30px;
    }
    .title_now {
        font-size: 70px;
        font-weight: bolder;
        margin-top: 50px;
    }
    .title_now_info {
        font-size: 50px;
        font-weight: bolder;
        margin-top: 50px;
    }

    /*zegarek*/
    #displayMoment {
        margin-top: 0px;
        padding-bottom: 0px;
        font-size: 130px;
        font-weight: bolder;
        text-shadow: 0px 0px 16px rgba(150, 150, 150, 1);
    }
    .act_date {
        margin-top: -20px;
        font-size: 40px;
        font-weight: bold;
    }

    .next_one {
        margin-top: 25px;
        font-size: 40px;
        font-weight: bold;
        text-decoration: underline;

    }

    .next_list {
        margin-left: 15px;
        margin-top: 15px;
    }

    .next_time {
        font-size: 60px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .next_title {
        font-size: 35px;
        margin-left: 40px;
        margin-top: 0px;
    }

    .next_info {
        font-size: 20px;
        margin-left: 40px;
        margin-top: 0px;
    }


    /*przystosowanie do mobile*/
    @media only screen and (max-width : 768px) {
        .dostepnosc {font-size: 20px}
        .nazwa_sali { font-size: 30px;}
        .logo_l img {height: 80%; width: 80%;}
        .now_time {font-size: 20px; margin-bottom: 0px;}
        .title_now {font-size: 25px; margin-top: 5px;}
        .now_h {font-size: 15px; margin-top: 25px;}
        .now_cut {font-size: 15px; margin-top: 0px;}
        #displayMoment {font-size: 30px;}
        .act_date {font-size: 15px; margin-top: 0px;}
        .next_one {font-size: 10px; margin-top: 10px;}
        .next_time {font-size: 20px;}
        .next_title {font-size: 15px; margin-left: 5px;}
        .logo_l {padding: 10px;}
    }
