<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Places image</title>
  </head>
  <body>
    <h1>Body with jpg {{ insert_me }} </h1>
    <img src="{% static "places/maxresdefault.jpg" %}" alt="no image">
  </body>
</html>
