{% load static %}

<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <script src="http://momentjs.com/downloads/moment-with-locales.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
    <title>Meetengs</title>
    <!-- Bootstrap -->
    <link href="{% static "places/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "places/css/custom.css" %}" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "places/js/bootstrap.min.js"%}"></script>
    <link <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div id="main" class="container front">
        <div id="lewa_strona" class="row row_front">
            <!-- LEWA STRONA -->
            <div id="left_color" class="col-md-8 no-float {% if place_event_now %} lewy_c {% else %} lewy_z {% endif %}">
                    <div id="dostepnosc"class="row">
                        {% if place_event_now %}
                        <h2 class="dostepnosc">SALA ZAJĘTA</h2></div>
                        {% else %}
                        <h1 class="dostepnosc ">SALA WOLNA</h1></div>
                        {% endif %}
                        <div class="row">
                            {% for place in place_obj %}
                            <h1 id= "nazwa_sali" class="nazwa_sali">{{ place.name }}</h1></div>
                            {% endfor %}
                            <div class="row">
                                <div id="logo" class="col-md-5 col-xs-6 logo_l">
                                    {% if place_event_now %}
                                            {% if place_event_now.image %}
                                                <img src="{{ place_event_now.image.url }}" width="320px"  />
                                            {% elif place_event_now.company.image %}
                                                <img src="{{ place_event_now.company.image.url }}" width="320px"  />
                                            {% else %}
                                                <script type="text/javascript">
                                                document.getElementById('logo').style.display = 'none';
                                                </script>
                                            {% endif %}
                                    {% else %}
                                    {% endif %}
                                </div>
                                <div id="godziny" class="col-md-7 col-xs-6">
                                    <div id="info1" class="text-center">
                                        {% if place_event_now %}
                                        <p class="now_h">TERAZ</p>
                                        <p class="now_time"> {{ place_event_now.start_date_time|date:"G:i" }} - {{ place_event_now.stop_date_time|date:"G:i" }}</p>
                                        <p class="now_cut">Do końca {{ place_event_now.stop_date_time|timeuntil }}</p>
                                        {% else %}
                                        <p class="now_h">TERAZ</p>
                                        <p class="now_time">Brak wydarzeń</p>
                                        <p class="now_cut"></p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div id="info2" class="row text-center">
                                {% if place_event_now %}
                                <p class="title_now">{{ place_event_now.title }}</p>
                                <p class="title_now_info">{{ place_event_now.info }}</p>
                                {% else %}
                                <p class="title_now">Brak wydarzeń</p>
                                {% endif %}
                            </div>
                        </div>
                        <!-- PRAWA STRONA -->
                        <div>
                            <div class="col-md-4 prawy no-float">
                                <div class="row">
                                    <!-- CZAS, OPARTY NA MOMENT.JS -->
                                    <div id="displayMoment" class="text-center">
                                        {% now "H:i" %}
                                    </div>
                                    <div class="text-center act_date">{% now "j E Y" %}</div>
                                </div>
                                <div class="row">
                                    <div class="text-center next_one">NADCHODZĄCE REZERWACJE</div>
                                </div>

                                {% if place_events_next %}
                                {% for place_entry in place_events_next %}
                                <div id="prawa_strona" class="row next_list">
                                    <p class="next_time">{{ place_entry.start_date_time|date:"G:i" }} - {{ place_entry.stop_date_time|date:"G:i" }}</p>
                                    <p class="next_title">{{ place_entry.title }}.</p>
                                    <p class="next_info">{{ place_entry.info }}.</p>
                                </div>
                                {% endfor %}
                                {% else %}
                                <div id="prawa_strona" class="row next_list">
                                    <p class="next_title">Brak przyszłych wydarzeń</p>
                                    <p class="next_title"></p>
                                    <p class="next_info"></p>
                                </div>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                <script type="text/javascript">
                setInterval(function () {
                    $("body").load("{% url 'room_view' this_place_id %} #main ");
                }, 60000);
                </script>
            </body>
            </html>
